@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.links_section {
  text-align: center;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    li {
      background-color: $links_bg;
      cursor:pointer;
      height: 76px;
      width: 1152px;
      margin: 24px 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $links_bg;
      border: 8px;
      font-family: Inter;
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0em;
      color: $primary_text;
    }
  }
}
