@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.login_main {
  width: 976px;
  border-radius: 15px;
  inset: 45px 195px;
  background-color: $white;
  box-shadow: 0px 4px 24px 0px $login_shadow;

  &_inner {
    display: flex;
    justify-content: space-between;
    .left_side {
      padding-left: 40px;
      width: 30.5rem;

      &_inner {
        nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 40px 39px 50px 0;

          span {
            font-family: Poppins;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: $secondary;
          }

          ul {
            display: flex;
            list-style: none;

            li {
              margin-left: 24px;
            }

            .login {
              font-family: Poppins;
              font-size: 20px;
              font-weight: 700;
              line-height: 30px;
              letter-spacing: 0em;
              text-align: left;
              color: $secondary;
            }

            .sign_up {
              font-family: Poppins;
              font-size: 20px;
              font-weight: 500;
              line-height: 30px;
              letter-spacing: 0em;
              text-align: left;
              color: $links;
            }
          }
        }

        .left_contents {
          width: 22rem;
          .header_text {
            p {
              font-family: Poppins;
              font-size: 27px;
              font-weight: 550;
              line-height: 41px;
              letter-spacing: 0.1em;
              word-spacing: 0.2em;
              text-align: left;
              text-transform: uppercase;
              color: $sign_in;
            }
          }

          .info_text {
            margin-top: 15px;
            p {
              font-family: Poppins;
              font-size: 20px;
              font-weight: 500;
              line-height: 30px;
              letter-spacing: 0.1em;
              word-spacing: 0.2em;
              text-align: left;
              color: $links;
            }
          }
          img {
            position: absolute;
            z-index: 1;
            border: hidden;
            border-top: 1px solid $links;
            border-top-style: dashed;
            padding-top: 2px;
            margin: -2.5rem 20.8rem;
          }

          form {
            display: flex;
            flex-direction: column;

            input {
              margin-bottom: 20px;
              width: 100%;
              border: hidden;
              border-bottom: 1px solid;
              outline: none;
              line-height: 1rem;
              padding-right: 22px;
            }

            .email_form {
              .email {
                margin-top: 25px;
                border-color: $secondary;

                &::placeholder {
                  font-family: Poppins;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 18px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: $secondary;
                }
              }
            }
            .password_form {
              .password {
                border-color: $links;

                &::placeholder {
                  font-family: Poppins;
                  font-size: 13px;
                  font-weight: 500;
                  line-height: 20px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: $links;
                }
              }
            }
          }

          .below_text {
            margin-block: 0.5rem 1.5rem;

            .pass_img {
              position: absolute;
              margin: 2rem -7rem;
            }
            p {
              font-family: Poppins;
              font-size: 13px;
              font-weight: 500;
              line-height: 20px;
              letter-spacing: 0em;
              text-align: right;
              color: $links;
            }
          }

          button {
            height: 51px;
            width: 317px;
            border-radius: 10px;
            text-align: center;
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
            border: none;
            background-color: $secondary;
            color: $white;
            inset: 40px 20px;
            box-shadow: 0px 10px 20px 0px $secondary;
          }
        }
      }
    }

    .right_side {
      width: 488px;
      border-radius: 0px;
      background-color: $secondary;
      &_img {
        width: 435px;
        border-radius: 0px;
        inset: 2px 24px;
      }
    }
  }
}
