@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

section {
  &.profile_section {
    display: flex;
    justify-content: center;
    background-color: $bg;

    .user_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      inset: 0 1.7rem;

      #profile_img {
        margin-bottom: 24px;
        img {
          height: 88px;
          width: 88px;
          border-radius: 275px;
        }
      }

      #twitter {
        p {
          font-family: Inter;
          font-size: 20px;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
          color: $primary_text;
        }
      }

      #slack {
        display: none;
      }
    }

    .icon_section {
      inset-inline-start: 284px;
      
      @media screen  and (max-width: 1088px) {
           inset-inline-start: 85px;
      }
      img {
        cursor: pointer;
        &.desktop_icon {
          @media screen and (max-width: 1088px) {
            display: none;
          }
        }
        &.mobile_icon {
          display: none;
          @media screen and (max-width: 1088px) {
            display: block;
          }
        }
      }
    }
  }
}
